version: '3'

services:
  db:
    # host: host.docker.internal
    image: postgres:14
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB -h 127.0.0.1 -p 5432" ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

